.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-padding: 10px;
    -fx-highlight-fill: #7ecfff;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}