.text-field {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.text-field .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-field:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-field:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-field .content {
    -fx-padding: 10px;
    -fx-highlight-fill: #7ecfff;
}

.date-picker {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: transparent, white, transparent, white;
}

.date-picker > .arrow-button {
    -fx-padding: 0px;
}

.date-picker > .arrow-button > .arrow {
    -fx-padding: 0px;
}
