.date-picker {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: transparent, white, transparent, white;
}

.date-picker > .arrow-button {
    -fx-padding: 0px;
}

.date-picker > .arrow-button > .arrow {
    -fx-padding: 0px;
}
